.task-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.task-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  position: relative;
}

.task-card:hover {
  transform: scale(1.02);
}

.task-card h2 {
  margin-top: 0;
  font-size: 20px;
}

.task-card p {
  margin: 5px 0;
  color: #555;
}

.task-card select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
}

.delete-buttons {
  background-color: transparent;

  position: absolute;
  top: 4%;
  right: 2%;
  border: none;
}

.delete-icon {
  color: #252525;
  font-size: 20px;
  cursor: pointer;
}
