.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.navbar-logo img {
  margin-left: 20px;
  height: 50px; /* Adjust height as needed */
}

.navbar-links {
  list-style-type: none;
  display: flex;
  margin-right: 10px;
  gap: 20px;
}

.navbar-links li {
  margin-right: 10px;
}

.navbar-links li:last-child {
  margin-right: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-logo {
  display: flex;
  gap: 20px;
  color: white;
  align-items: center;
}
