/* Base styling
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); */
  animation: backgroundFadeIn 1.5s ease-in-out;
}

@keyframes backgroundFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-box {
  background: white;
  padding: 40px 60px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: boxFadeIn 1s ease-in-out;
}

@keyframes boxFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-box h1 {
  margin-bottom: 30px;
  color: #333;
  font-size: 2em;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #666;
  font-size: 1.1em;
  font-weight: bold;
  transition: color 0.3s;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group input:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 8px rgba(106, 17, 203, 0.2);
  outline: none;
}

.login-button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.login-button:active {
  background-color: #3e8e41;
  transform: scale(1);
}

/* Responsive design */
@media (max-width: 768px) {
  .login-box {
    padding: 30px 40px;
  }

  .login-box h1 {
    font-size: 1.5em;
  }

  .login-button {
    padding: 10px 15px;
    font-size: 14px;
  }
}
